<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: common_header(~{::title})">

    <title>Login | My Recipes</title>

  </head>

  <body>

    <div th:replace="layout :: nav"></div>

    <div class="grid-container">

      <div th:replace="layout :: logo"></div>
      <div th:replace="layout :: flash"></div>

      <div class="grid-100">
        <div class="recipes">
          <form th:action="@{/login}" method="post" class="login" th:object="${user}">
            <div class="prefix-20 grid-60 suffix-20">
              <p>
                <input placeholder="Username" th:field="*{username}"/>
              </p>
            </div> <div class="clear"></div>
            <div class="prefix-20 grid-60 suffix-20">
              <p>
                <input placeholder="Password" type="password" th:field="*{password}"/>
              </p>
            </div> <div class="clear"></div>
            <div class="prefix-20 grid-60 suffix-20">
              <p>
                <button type="submit" value="Login">Login</button>
              </p>
            </div> <div class="clear"></div>
          </form>
        </div> <!-- recipes -->
      </div> <!-- grid-100 -->
    </div> <!-- grid-container -->
  </body>
</html>
